<ion-content [fullscreen]="true">
  <div class="flex flex-col items-center justify-center h-full bg-[#f0f4f8]">
    <div class="w-full max-w-[320px] bg-white p-5 rounded-2xl shadow-md flex flex-col gap-4">
      <!-- Icon Back -->
      <div>
        <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="backtoLoggin()">
          <ion-icon slot="icon-only" class="text-blue-600" name="arrow-back-outline" aria-hidden="true"></ion-icon>
        </ion-button>
      </div>
      <!-- Title -->
      <h1 class="text-2xl font-bold text-gray-700 m-0 text-center">
        Recuperar Contraseña
      </h1>
      <!-- View Timeline -->
      <div class="flex flex-row flex-nowrap items-center gap-1">
        <div class="size-3 rounded-full bg-blue-600"></div>
        <div class=" h-[2px] w-auto flex-1 bg-gray-200"></div>
        <div class="size-3 rounded-full" [ngClass]="{ 'bg-blue-600': phase >= 2, 'bg-gray-400': phase < 2 }"></div>
        <div class="h-[2px] w-auto flex-1 bg-gray-200"></div>
        <div class="size-3 rounded-full" [ngClass]="{ 'bg-blue-600': phase >= 3, 'bg-gray-400': phase < 3 }"></div>
      </div>

      <!-- New Password Form -->
      <form *ngIf="phase === 1" class="flex flex-col gap-3" [formGroup]="emailForm" (ngSubmit)="onSendCode()">
        <p class="text-[#666] text-center">
          Ingrese su correo electrónico para recibir un código de verificación
        </p>

        <!--  formControlName="email" -->
        <ion-input type="email" fill="outline" formControlName="email" placeholder="Correo electrónico"
          inputmode="email" labelPlacement="stacked">
          <ion-icon slot="start" name="mail-outline" aria-hidden="true"></ion-icon>
        </ion-input>

        <ion-button expand="block" color="primary" type="submit">
          Enviar Código
        </ion-button>
      </form>

      <form *ngIf="phase === 2" class="flex flex-col gap-3" [formGroup]="codeForm" (ngSubmit)="onValidateCode()">
        <p class="text-[#666] text-center">
          Ingrese el código de verificacion enviado a su correo
        </p>

        <ion-input type="text" fill="outline" placeholder="Código" labelPlacement="stacked" formControlName="code">
          <ion-icon slot="start" name="key-outline" aria-hidden="true"></ion-icon>
        </ion-input>

        <ion-button expand="block" color="primary" type="submit">
          Verificar Código
        </ion-button>
      </form>

      <form *ngIf="phase === 3" class="flex flex-col gap-3" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <p class="text-[#666] text-center">
          Ingrese su nueva contraseña
        </p>
        <!--  formControlName="email" -->
        <ion-input type="password" fill="outline" placeholder="Nueva contraseña" formControlName="newPassword"
          labelPlacement="stacked">
          <ion-icon slot="start" name="lock-closed-outline" aria-hidden="true"></ion-icon>
        </ion-input>

        <ion-input type="password" fill="outline" placeholder="Confirmar contraseña" formControlName="repeatPassword"
          labelPlacement="stacked">
          <ion-icon slot="start" name="lock-closed-outline" aria-hidden="true"></ion-icon>
        </ion-input>

        <ion-button expand="block" color="primary" type="submit">
          Cambiar Contraseña
        </ion-button>
      </form>
      <!-- Button -->
    </div>
  </div>
</ion-content>
