<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Funcionario</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="py-2 px-4 bg-gray-100 dark:bg-gray-900 min-h-full flex flex-col gap-3">
    <ion-segment value="tickets" [(ngModel)]="selectedTab">
      <ion-segment-button value="tickets">
        <ion-label>Tickets</ion-label>
        <ion-icon name="people-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="multas">
        <ion-label>Multas</ion-label>
        <ion-icon name="people-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <div class="bg-gray-100 dark:bg-gray-900 gap-2 flex flex-col p-2">
      @switch (selectedTab) {
      @case ('tickets') {
      <ion-button (click)="openNewTicket()">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Registrar Entrada
      </ion-button>
      <ion-searchbar (ionInput)="onSearch($event)" placeholder="Buscar por placa..." debounce="250"></ion-searchbar>
      <ion-text class="text-2xl font-bold">Tickets Activos</ion-text>
      @for (ticket of tickets; track ticket.id) {
      <div class="flex flex-col bg-white dark:bg-gray-950 p-2 gap-2 rounded-md shadow-md">
        <div class="flex justify-between items-center">
          <p class="text-sm">Ticket #{{ticket.id}}</p>
        </div>
        <p class="text-lg font-bold">{{ticket.plate}}</p>
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <!-- <ion-icon name="location-outline">
            </ion-icon> -->
            <ion-icon name="time-outline"></ion-icon>
            <p>Entrada:
              {{ticket.entry_date.getHours()}}:{{ticket.entry_date.getMinutes()}}:{{ticket.entry_date.getSeconds()}}</p>
          </div>
          @if(ticket.state !== 'activo') {
          <div class="flex items-center gap-2">
            <!-- <ion-icon name="location-outline">
              </ion-icon> -->
            <ion-icon name="log-out-outline"></ion-icon>
            <p>Salida:
              {{ticket.exit_date.getHours()}}:{{ticket.exit_date.getMinutes()}}:{{ticket.exit_date.getSeconds()}}</p>
          </div>
          }
          <div class="flex items-center gap-2">
            <!-- <ion-icon name="location-outline">
            </ion-icon> -->
            <ion-icon name="cash-outline"></ion-icon>
            <p>Total: ${{ticket.amount}}
          </div>
        </div>
        <ion-button [disabled]="ticket.state !== 'activo'" (click)="onPay(ticket.id)">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Registra Salida
        </ion-button>
      </div>
      }
      }
      @case ('multas') {
      <ion-button (click)="openNewFine()">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Registrar Multa
      </ion-button>
      <ion-searchbar (ionInput)="onSearch($event)" placeholder="Buscar por placa..." debounce="250"></ion-searchbar>
      <ion-text class="text-2xl font-bold">Multas Activos</ion-text>
      @for (fine of fines; track fine.id) {
      <div class="flex flex-col bg-white dark:bg-gray-950 p-2 gap-2 rounded-md shadow-md">
        <p class="text-sm">Fine #{{fine.id}}</p>
        <p class="text-xl font-bold">{{fine.vehicle.plate}}</p>
        <p>
          {{fine.description}}
        </p>
        <ion-img class="object-cover aspect-square object-center" [src]="bakeImage(fine)"
          [alt]="fine.description"></ion-img>

        <ion-button [disabled]="fine.state !== 'pendiente'" (click)="onPayFine(fine.id)">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Pagar Multa
        </ion-button>
      </div>
      }
      }
      }
      <ion-modal [isOpen]="isOpenNewOperator" class="dark:[--background:rgb(3_7_18)]">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-button slot="start" color="medium" (click)="closeNewTicket()">Cancel</ion-button>
              <ion-title>Crear Ticket</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="modal-content">
            <h2 class="py-4 font-bold text-xl px-2">Ticket Formulario</h2>
            <form [formGroup]="ticketForm" class="flex flex-col gap-4 py-8" (ngSubmit)="onSubmit()">
              <ion-item>
                <ion-label position="stacked">Placa</ion-label>
                <ion-select formControlName="plate" placeholder="Placa" inputmode="text" labelPlacement="floating"
                  label="Select Placa" ngDefaultControl>
                  @for (vehicle of vehicles; track vehicle.id) {
                  <ion-select-option [value]="vehicle.id">{{vehicle.plate}}</ion-select-option>
                  }
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Espacios</ion-label>
                <ion-select formControlName="id_space" placeholder="Espacio" inputmode="text" labelPlacement="floating"
                  label="Select Espacio" ngDefaultControl>
                  @for (space of spaces; track space.id) {
                  <ion-select-option [value]="space.id">{{space.zone.id}}Z-{{space.id}}E</ion-select-option>
                  }
                </ion-select>
              </ion-item>
              <ion-button expand="full" type="submit" ngDefaultControl>Guardar Ticket</ion-button>
            </form>
          </ion-content>
        </ng-template>
      </ion-modal>
      <ion-modal [isOpen]="isOpenNewFine" class="dark:[--background:rgb(3_7_18)]">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-button slot="start" color="medium" (click)="closeNewTicket()">Cancel</ion-button>
              <ion-title>Crear Multa</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="modal-content">
            <h2 class="py-4 font-bold text-xl px-2">Multa Formulario</h2>
            <form [formGroup]="fineForm" class="flex flex-col gap-4 py-8" (ngSubmit)="onFineSubmit()">
              <ion-item>
                <ion-label position="stacked">Vehicle</ion-label>
                <ion-select formControlName="id_ticket" placeholder="Vehiculo" inputmode="text"
                  labelPlacement="floating" label="Select Vehiculo" ngDefaultControl>
                  @for (vehicle of vehicles; track vehicle.id) {
                  <ion-select-option [value]="vehicle.id">{{vehicle.plate}}</ion-select-option>
                  }
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Monto</ion-label>
                <ion-input formControlName="amount" inputmode="number" type="number" name="Monto"
                  placeholder="Escribe el monto" required ngDefaultControl></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Descripcion</ion-label>
                <ion-input formControlName="description" inputmode="text" type="text" name="Monto"
                  placeholder="Descripcion" required ngDefaultControl></ion-input>
              </ion-item>
              <ion-button fill="clear" (click)="takePhoto()">Tomar Foto</ion-button>
              <ion-item class="relative">
                <video class="w-full object-cover" #videoElement autoplay></video>
                <canvas
                  class="absolute left-2 bottom-2 w-24 aspect-square object-cover object-center bg-black/50 rounded-md overflow-hidden"
                  #canvasElement></canvas>
              </ion-item>
              <ion-button expand="full" type="submit" ngDefaultControl>Guardar Ticket</ion-button>
            </form>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </div>
</ion-content>