<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Funcionario</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="py-2 px-4 bg-gray-100 dark:bg-gray-900 min-h-full flex flex-col gap-3">
    <ion-segment value="tickets" [(ngModel)]="selectedTab">
      <ion-segment-button value="tickets">
        <ion-label>Tickets</ion-label>
        <ion-icon name="people-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="multas">
        <ion-label>Multas</ion-label>
        <ion-icon name="people-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <div class="bg-gray-100 dark:bg-gray-900 gap-2 flex flex-col p-2">
      @switch (selectedTab) {
      @case ('tickets') {
      <ion-button (click)="openNewTicket()">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Registrar Entrada
      </ion-button>
      <ion-searchbar (ionInput)="onSearch($event)" placeholder="Buscar por placa..." debounce="250"></ion-searchbar>
      <ion-text class="text-2xl font-bold">Tickets Activos</ion-text>
      @for (ticket of tickets; track ticket.id) {
      <div class="flex flex-col bg-white dark:bg-gray-950 p-2 gap-2 rounded-md shadow-md">
        <div class="flex justify-between items-center">
          <p class="text-sm">Ticket #{{ticket.id}}</p>
        </div>
        <p class="text-lg font-bold">{{ticket.plate}}</p>
        <div class="flex flex-col gap-2">
          <div class="flex items-center gap-2">
            <!-- <ion-icon name="location-outline">
            </ion-icon> -->
            <ion-icon name="time-outline"></ion-icon>
            <p>Entrada:
              {{ticket.entry_date.toLocaleString()}}</p>
          </div>
          @if(ticket.state !== 'activo') {
          <div class="flex items-center gap-2">
            <!-- <ion-icon name="location-outline">
              </ion-icon> -->
            <ion-icon name="log-out-outline"></ion-icon>
            @if(ticket.exit_date != null){
            <p>Salida:
              {{ticket.exit_date.toLocaleString()}}
            </p>
            }
          </div>
          }
          <div class="flex items-center gap-2">
            <!-- <ion-icon name="location-outline">
            </ion-icon> -->
            <ion-icon name="cash-outline"></ion-icon>
            <p>
              Total:
              @if(ticket.amount == null) {
              Pendiente
              } @else {
              ${{ticket.amount}}
              }
            </p>
          </div>
        </div>
        <ion-button [disabled]="ticket.state !== 'activo'" (click)="onPay(ticket.id)">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Registra Salida
        </ion-button>
      </div>
      }
      }
      @case ('multas') {
      <ion-button (click)="openNewFine()">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        Registrar Multa
      </ion-button>
      <ion-searchbar (ionInput)="onSearch($event)" placeholder="Buscar por placa..." debounce="250"></ion-searchbar>
      <ion-text class="text-2xl font-bold">Multas Activos</ion-text>
      @for (fine of fines; track fine.id) {
      <div class="flex flex-col bg-white dark:bg-gray-950 p-2 gap-2 rounded-md shadow-md">
        <p class="text-sm">Fine #{{fine.id}}</p>
        <p class="text-xl font-bold">{{fine.vehicle.plate}}</p>
        <p>
          {{fine.description}}
        </p>
        <ion-img class="object-cover aspect-square object-center" [src]="bakeImage(fine)"
          [alt]="fine.description"></ion-img>

        <ion-button [disabled]="fine.state !== 'pendiente'" (click)="onPayFine(fine.id)">
          <ion-icon slot="start" name="log-out-outline"></ion-icon>
          Pagar Multa
        </ion-button>
      </div>
      }
      }
      }

      <app-ticket-create [(show)]="isOpenNewOperator" [vehicles]="vehicles" [spaces]="spaces"
        (addTicket)="addTicket($event)">
        <app-vehicle-user-create [(vehicles)]="vehicles" />
      </app-ticket-create>

      <app-fine-create [(show)]="isOpenNewFine" [vehicles]="vehicles" (addFine)="addFine($event)">
        <app-vehicle-user-create [(vehicles)]="vehicles" />
      </app-fine-create>
    </div>
  </div>
</ion-content>