<ion-content [fullscreen]="true">
  <div class="flex flex-col justify-center h-full items-center bg-gray-50 dark:bg-gray-900">
    <!-- Imagen Circular Superior -->
    <div class="size-[100px] rounded-full aspect-square overflow-hidden m-5">
      <img class="size-full object-contain bg-white" src="assets/logo.svg" alt="Profile Image" />
    </div>

    <!-- Formulario -->
    <form class="w-full max-w-[320px] bg-white dark:bg-gray-950 p-5 rounded-2xl shadow-md flex flex-col gap-2"
      [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Título y Subtítulo -->
      <h1 class="text-3xl font-bold text-gray-700 dark:text-gray-300 m-0 text-center">
        Sistema de Parqueo
      </h1>
      <p class="text-[#666] mb-5 text-center">
        Inicie sesión para continuar
      </p>

      <!-- Campo de Usuario -->
      <ion-input type="email" fill="outline" formControlName="email" placeholder="Usuario" inputmode="email"
        labelPlacement="stacked">
        <ion-icon slot="start" name="people-outline"></ion-icon>
      </ion-input>

      <!-- Campo de Contraseña -->
      <ion-input [type]="passwordType" fill="outline" formControlName="password" placeholder="Contraseña"
        labelPlacement="stacked">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="togglePasswordVisibility()">
          <ion-icon slot="icon-only" [name]="passwordIcon"></ion-icon>
        </ion-button>
      </ion-input>

      <!-- Enlace Olvidó su Contraseña -->
      <ion-text color="medium">
        <p class="text-sm text-end cursor-pointer my-3" (click)="navigateToForgotPassword()">
          ¿Olvidó su contraseña?
        </p>
      </ion-text>
      
      <!-- Enlace para Información del Proyecto -->
      <ion-text color="medium">
        <p class="text-sm text-end cursor-pointer my-3" (click)="openInfoModal()">
          Conoce más
        </p>
      </ion-text>

      <!-- Botón Iniciar Sesión -->
      <ion-button expand="block" color="primary" type="submit">
        Iniciar Sesión
      </ion-button>

<!--       Switch para cambiar tema (Claro/Oscuro) 
      <div class="flex justify-center items-center my-3 gap-2">
        <span>Claro</span>
        <ion-toggle (ionChange)="toggleTheme($event)" [checked]="isDarkTheme"></ion-toggle>
        <span>Oscuro</span>
      </div> -->

      <!-- Mensaje de Error -->
      <ion-text *ngIf="loginError" color="danger">
        <p class="text-xs">{{ loginError }}</p>
      </ion-text>
    </form>
  </div>

  <!-- Modal de Información del Proyecto -->
  <ion-modal [isOpen]="infoModalOpen" (didDismiss)="closeInfoModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Información del Proyecto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeInfoModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p><strong>Nombre del Proyecto:</strong> NombreDelProyecto</p>
        <p><strong>Objetivos:</strong> Objetivo 1, Objetivo 2, ...</p>
        <p><strong>Integrantes:</strong> Juan, María, ...</p>
        <p><strong>Universidad:</strong> Universidad XYZ</p>

        <!-- FAQ Accordion -->
        <ion-accordion-group>
          <ion-accordion value="faq1">
            <ion-item slot="header">
              <ion-label>¿Cómo funciona la app?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              La app funciona de la siguiente manera: ...
            </div>
          </ion-accordion>
          <ion-accordion value="faq2">
            <ion-item slot="header">
              <ion-label>¿Qué tecnologías se utilizan?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              Se utilizan Angular, Ionic, y otras tecnologías.
            </div>
          </ion-accordion>
          <ion-accordion value="faq3">
            <ion-item slot="header">
              <ion-label>¿Dónde puedo reportar problemas?</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              Puedes reportar problemas a través del correo serotpsoporte&#64;puyo.gob.ec              .
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
