<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Home</ion-title>
      <ion-text>{{getDate()}}</ion-text>
    </ion-toolbar>
  </ion-header>

  <div class="bg-gray-100 dark:bg-gray-900 gap-2 flex flex-col p-2">

    @if(role === 'admin'){
    <div class="flex flex-col gap-2 py-4">
      <div class="flex items-center bg-white dark:bg-gray-950 p-4 rounded-md shadow-md gap-4">
        <ion-icon size="large" name="people"
          class="p-3 rounded-xl text-blue-600 bg-blue-200 dark:bg-blue-900 dark:text-blue-300"></ion-icon>
        <div class="flex-1 flex flex-col gap-1 justify-between">
          <h3 class="text-gray-500 dark:text-gray-200">Usuarios Activo</h3>
          @if(this.report != null) {
          <p class="text-3xl font-bold">{{format(this.report.active_users.current_month)}}</p>
          <p class="text-gray-400">{{format(100 * (this.report.active_users.current_month -
            this.report.active_users!.last_month) / this.report.active_users.current_month, '', '%')}} vs mes
            anterior</p>
          } @else {
          <p>Loading...</p>
          }
        </div>
      </div>

      <div class="flex items-center bg-white dark:bg-gray-950 p-4 rounded-md shadow-md gap-4">
        <ion-icon size="large" name="cash-outline"
          class="p-3 rounded-xl text-green-600 bg-green-200 dark:bg-green-900 dark:text-green-300"></ion-icon>
        <div class="flex-1 flex flex-col gap-1 justify-between">
          <h3 class="text-gray-500 dark:text-gray-200">Ingresos del Día</h3>
          @if(this.report != null){
          <p class="text-3xl font-bold">{{format(this.report.income_today.total, '$')}}</p>
          <p class="text-gray-400">0 transacciones</p>
          } @else {
          <p>Loading...</p>
          }
        </div>
      </div>

      <div class="flex items-center bg-white dark:bg-gray-950 p-4 rounded-md shadow-md gap-4">
        <ion-icon size="large" name="car-outline"
          class="p-3 rounded-xl text-yellow-600 bg-yellow-200 dark:bg-yellow-900 dark:text-yellow-300"></ion-icon>
        <div class="flex-1 flex flex-col gap-1 justify-between">
          <h3 class="text-gray-500 dark:text-gray-200">Espacios Ocupados</h3>
          @if(this.report != null) {
          <p class="text-3xl font-bold">{{format(this.report.spaces_taken.percent, '', '%')}}</p>
          <p class="text-gray-400">
            {{format(this.report.spaces_taken.taken)}}/{{format(this.report.spaces_taken.total)}} espacios</p>
          } @else {
          Loading...
          }
        </div>
      </div>

      <div class="flex items-center bg-white dark:bg-gray-950 p-4 rounded-md shadow-md gap-4">
        <ion-icon size="large" name="warning"
          class="p-3 rounded-xl text-rose-600 bg-rose-200 dark:bg-rose-900 dark:text-rose-300"></ion-icon>
        <div class="flex-1 flex flex-col gap-1 justify-between">
          <h3 class="text-gray-500 dark:text-gray-200">Multas Pendientes</h3>
          @if(this.report != null) {
          <p class="text-3xl font-bold">{{format(this.report.fees.total)}}</p>
          <p class="text-gray-400">{{format(this.report.fees.amount ?? 0, '$')}} por cobrar</p>
          } @else {
          Loading...
          }
        </div>
      </div>
    </div>
    } @else {
    <div class="py-2 flex flex-col gap-2">
      <ion-text class="text-lg font-bold">Tickets</ion-text>
      @for (ticket of tickets; track ticket.id) {
      <div class="bg-white dark:bg-gray-950 shadow-md rounded-md p-4 flex gap-2 flex-col">
        <div class="flex justify-between items-center">
          <p class="text-sm text-gray-500">Ticket #{{ticket.id}}</p>
          <div class="flex">
            <p
              class="flex items-center p-2 rounded-md text-center font-bold bg-blue-300 text-blue-800 dark:bg-blue-800 dark:text-blue-300">
              <span>{{ticket.state}}</span>
            </p>
          </div>
        </div>
        <p class="text-lg font-bold">{{ticket.plate}} - {{ticket.zone_name}}</p>
        <div class="flex items-center gap-2">
          <ion-icon name="time-outline"></ion-icon>
          <p>
            {{ticket.entry_date.getHours()}}:{{ticket.entry_date.getMinutes()}}:{{ticket.entry_date.getSeconds()}}
          </p>
        </div>
        @if(isOnTime(ticket.max_date)){
        <p class="bg-red-800 text-red-300 px-2 py-1 rounded-md">{{calcularTiempoRestante(ticket.max_date)}}</p>
        } @else {
        <p class="bg-green-300 text-green-800 dark:bg-green-800 dark:text-green-300 px-2 py-1 rounded-md">
          {{calcularTiempoRestante(ticket.max_date)}}</p>
        }
      </div>
      }
      @if(tickets.length === 0) {
      <p>No Tienes Tickets</p>
      }

      <ion-text class="text-lg font-bold">Multas</ion-text>
      @for (fine of fines; track fine.id) {
      <div class="bg-white dark:bg-gray-950 shadow-md rounded-md p-4 flex gap-2 flex-col items-center">
        <div class="flex gap-2 items-center justify-between w-full">
          <p class="text-sm text-gray-500">Multa #{{fine.id}}</p>
          <p class="text-lg font-bold">{{fine.plate}}</p>
          <p
            class="flex items-center p-2 rounded-md text-center font-bold bg-green-300 text-green-800 dark:bg-green-800 dark:text-green-300">
            <span>${{fine.amount}}</span>
          </p>
        </div>
        <ion-img class="object-cover object-center aspect-square rounded-md overflow-hidden" [src]="bakeImage(fine)"
          [alt]="fine.id"></ion-img>
      </div>
      }

      @if(fines.length === 0) {
      <p>No Tienes Tickets</p>
      }
    </div>
    }
  </div>

  @if(role === 'admin'){
  <ion-text class="text-lg px-2 font-bold">Acciones Rápidas</ion-text>

  <div class="grid grid-cols-2 gap-4">
    @for (item of fastAccesst(); track $index) {
    <div class="bg-white dark:bg-gray-950 shadow-md rounded-md p-4 flex items-center justify-center"
      (click)="item.action()">
      <div class="flex flex-col items-center gap-2">
        <ion-icon size="large" [name]="item.icon" class="p-3 rounded-xl" [ngClass]="item.classname"></ion-icon>
        <ion-text>{{item.text}}</ion-text>
      </div>
    </div>
    }
  </div>
  }

</ion-content>