<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Gestión de Parqueos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="py-2 px-4 bg-gray-100 dark:bg-gray-900 min-h-screen flex flex-col gap-3">
    <div class="flex justify-between items-center">
      <ion-text class="text-xl font-bold">Zonas</ion-text>
      <ion-button (click)="openEditZone()" fill="clear">
        <ion-icon slot="icon-only" name="add-circle-outline" size="large"></ion-icon>
      </ion-button>
    </div>

    <div
      class="min-h-36 overflow-x-scroll items-center overflow-y-hidden flex whitespace-nowrap scroll-smooth [scroll-snap-type:x_mandatory]">
      @for(zone of zones; track zone.id) {
      <div class="h-36  [flex:0_0_50%] flex items-center justify-center">
        <div class="flex flex-col bg-white dark:bg-gray-950 p-2 gap-2 rounded-md shadow-md">
          <ion-button size="small" fill="{{buttonFocus === zone.id ? 'solid' : 'clear'}}" color="primary"
            (click)="onFocusZone(zone.id)">
            <ion-icon slot="start" name="location-outline"></ion-icon>
            {{zone.name}}
          </ion-button>
          <div class="text-gray-300 text-xs">
            {{calcHourString(zone.fee, zone.max_time)}}
          </div>
          <div class="flex justify-around">
            <ion-button (click)="openEditZone(zone.id)" disabled="{{buttonFocus !== zone.id}}" size="small"
              color="primary">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </div>
      }
    </div>

    <ion-modal [isOpen]="isZoneEditOpen" class="dark:[--background:rgb(3_7_18)]">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-button slot="start" color="medium" (click)="closeModals()">Cancel</ion-button>
            <ion-title>{{isNewZone ? 'Crear Nuevo' :'Edit Zone'}}</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="modal-content">
          <h2 class="py-4 font-bold text-xl">Editar información</h2>
          <form [formGroup]="zoneEditForm" class="flex flex-col gap-4 py-8" (ngSubmit)="saveEditZone()">
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input formControlName="name" inputmode="text" name="nombre" placeholder="Escribe el nombre" required
                ngDefaultControl></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Tarifa</ion-label>
              <ion-input formControlName="fee" inputmode="number" type="number" name="tarifa"
                placeholder="Escribe la tarifa" required ngDefaultControl></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Tiempo Maximo</ion-label>
              <ion-input formControlName="maxTime" inputmode="number" type="number" name="tiempoMaximo"
                placeholder="Escribe un tiempo maximo en segundos" required ngDefaultControl></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Dirección</ion-label>
              <ion-input formControlName="address" inputmode="text" name="direccion" placeholder="Escribe la dirección"
                required ngDefaultControl></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Descripción</ion-label>
              <ion-input formControlName="description" inputmode="text" name="descripcion"
                placeholder="Escribe la descripción" required ngDefaultControl></ion-input>
            </ion-item>
            <ion-button [disabled]="!zoneEditForm.valid" expand="full" type="submit">Guardar</ion-button>

            <!-- Mensaje de Error -->
            <ion-text *ngIf="zoneError" color="danger">
              <p class="text-xs">{{ zoneError }}</p>
            </ion-text>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>

    <div class="flex justify-between items-center">
      <ion-text class="text-xl font-bold">Espacios</ion-text>
    </div>

    <div class="grid grid-cols-2 gap-4">
      @for (space of spaces; track space.id) {
      <div
        class="h-36 shadow-md p-2  bg-white dark:bg-gray-950 rounded-lg flex flex-col justify-between [flex:0_0_50%]">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <ion-icon *ngIf="space.type === 'discapacitado'" name="accessibility-outline"></ion-icon>
            <ion-icon *ngIf="space.type === 'automovil'" name="car-outline"></ion-icon>
            <ion-icon *ngIf="space.type === 'moto'" name="bicycle-outline"></ion-icon>

            <ion-text class="font-extrabold">{{space.zone.id}}Z-{{space.id}}S</ion-text>

            <ion-icon *ngIf="space.state === 'ocupado'" class="bg-red-500 p-1 rounded-full text-white"
              name="stop-circle-outline"></ion-icon>
            <ion-icon *ngIf="space.state === 'disponible'" class="bg-green-500 p-1 rounded-full text-white"
              name="checkmark-circle-outline"></ion-icon>
          </div>
        </div>
        <ion-text class="text-xs text-gray-500">{{space.type.toUpperCase()}}</ion-text>
        <div class="flex justify-end gap-2">
          <ion-button (click)="openSpaceNew(space.id)" fill="clear" color="primary">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
      }
      @if(buttonFocus >= 0){
      <ion-button class=" h-36 bg-blue-600/20 rounded-lg" fill="clear" (click)="openSpaceNew()">
        <ion-icon size="large" slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
      }
    </div>

    <ion-modal [isOpen]="isSpaceNewOpen" class="dark:[--background:rgb(3_7_18)]">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-button slot="start" color="medium" (click)="closeModals()">Cancel</ion-button>
            <ion-title>New Space</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="modal-content">
          <h2 class="py-4 font-bold text-xl">Editar información</h2>
          <form [formGroup]="spaceEditForm" class="flex flex-col gap-4 py-8" (ngSubmit)="saveSpaceNew()">
            <ion-item>
              <ion-label position="stacked">Estado</ion-label>
              <ion-select formControlName="state" placeholder="Estado" inputmode="text" labelPlacement="floating"
                label="Select Estado">
                <ion-select-option value="disponible">Disponible</ion-select-option>
                <ion-select-option value="ocupado">Ocupado</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Tipo</ion-label>
              <ion-select formControlName="type" placeholder="Tipo" inputmode="text" labelPlacement="floating"
                label="Select Tipo">
                <ion-select-option value="automovil">Vehiculo</ion-select-option>
                <ion-select-option value="moto">Moto</ion-select-option>
                <ion-select-option value="discapacitado">Discapacitado</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Latitud</ion-label>
              <ion-input formControlName="latitude" inputmode="text" type="text" name="Latitude"
                placeholder="Escribe la latitud" required ngDefaultControl></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Longitud</ion-label>
              <ion-input formControlName="longitude" inputmode="text" type="text" name="Longitude"
                placeholder="Escribe la longitud" required ngDefaultControl></ion-input>
            </ion-item>
            <ion-button expand="full" type="submit">Guardar</ion-button>
            <!-- Mensaje de Error -->
            <ion-text *ngIf="spaceError" color="danger">
              <p class="text-xs">{{ spaceError }}</p>
            </ion-text>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>