<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Nuevo Usuario</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="bg-gray-100 h-full dark:bg-gray-900 gap-2 flex flex-col p-2">

    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="p-2 flex flex-col gap-2">
      <ion-input formControlName="name" inputmode="email" placeholder="Nombre" helperText="Escriba un nombre">
        <ion-icon name="person-outline" slot="start"></ion-icon>
      </ion-input>
      <ion-input formControlName="lastname" inputmode="text" placeholder="Apellido" helperText="Escriba un apellido">
        <ion-icon name="person-outline" slot="start"></ion-icon>
      </ion-input>
      <ion-input formControlName="email" inputmode="text" placeholder="Email" helperText="Escriba un email">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
      </ion-input>
      <ion-input formControlName="password" inputmode="password" placeholder="Contraseña" helperText="Escriba una contraseña"> 
        <ion-icon name="key-outline" slot="start"></ion-icon>
      </ion-input>
      
      <!-- Reemplazo de ion-select por ion-segment -->
      <ion-label>Seleccionar Rol</ion-label> 

  
      
      <ion-segment formControlName="role" ngDefaultControl  class="custom-segment">
        <ion-segment-button value="admin" class="custom-segment-button">
          <ion-icon name="shield-checkmark-outline"></ion-icon>
          <ion-label>Administrador</ion-label>
        </ion-segment-button>
        <ion-segment-button value="empleado" class="custom-segment-button">
          <ion-icon name="briefcase-outline"></ion-icon>
          <ion-label>Empleado</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cliente" class="custom-segment-button">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Cliente</ion-label>
        </ion-segment-button>
      </ion-segment>


      <ion-toggle formControlName="state">Estado</ion-toggle>
      <ion-text *ngIf="submitError" color="danger">
        <p class="text-xs">ERROR: {{ submitError }}</p>
      </ion-text>

      <ion-button type="submit">
        Crear Usuario
      </ion-button>
    </form>


  </div>
</ion-content>
