<ion-content [fullscreen]="true">

  <div class="flex flex-col items-center justify-center h-full bg-gray-50 dark:bg-gray-900">
    <div
      class="w-full max-w-[320px] bg-white dark:bg-gray-950 p-5 rounded-2xl shadow-md flex flex-col items-center gap-4">
      <ion-icon name="shield-checkmark" class="text-5xl text-blue-500"></ion-icon>

      <h1 class="text-2xl font-bold text-gray-700 dark:text-gray-300 m-0 text-center">
        Verificación en Dos Pasos
      </h1>

      <p class="text-[#666] text-center">
        Ingrese el código de 6 dígitos enviado a su teléfono
      </p>

      <form class="flex flex-col gap-3" [formGroup]="loginForm" (ngSubmit)="onVerify()">

        <!--  formControlName="email" -->
        <ion-input formControlName="access" class="text-center [letter-spacing:0.5rem]" type="text" maxlength="6"
          fill="outline" placeholder="000000" inputmode="send-email" labelPlacement="stacked">
        </ion-input>

        <ion-button expand="block" color="primary" type="submit">
          Verificar
        </ion-button>
      </form>

      <p class="text-[#666] text-center text-sm">
        Reenviar el código en {{counter}} segundos
      </p>

      <ion-button [disabled]="btnDisabled" expand="clear" color="primary" (click)="onResendCode()">
        Reenviar Código
      </ion-button>
      <!-- Mensaje de Error -->
      <ion-text *ngIf="loginError" color="danger">
        <p class="text-xs">{{ loginError }}</p>
      </ion-text>
    </div>
  </div>
</ion-content>